<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../font/icomoon/style.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/medic.css">
</head>
<body>
    <div class="nav">
        <div class="nav_context">
            <ul>
                <a href="../index.html"><li class="nav_items ">首页</li></a>
                <a href="./website.html"><li class="nav_items ">网站建设</li></a>
                <a href="./appsite.html"><li class="nav_items ">APP开发</li></a>
                <a href="./case.html"><li class="nav_items">案例</li></a>
                <a href="./about.html"><li class="nav_items nav_active">关于</li></a>
            </ul>
        </div>
    </div>
    <div class="banner">
        <i class="i_base icon--1"></i>
        <i class="i_base icon-uniE901"></i>
        <div class="banner_box">
            
            <ul class="box_ul">
                <div class="box_item item_1">
                    <div class="item-1_text">
                        <h1>关于</h1>
                        <p>为客户提供手机APP定制开发、微信开发、网站建设、行业解决方案、应用系统开发、互联网推广、网站运营、APP产品运营、大数据分析等服务。
                            10年以上互联网项目开发经验，
                            100多名设计师参与项目建设，
                            200多个互联网项目开发案例，
                            7x24小时不间断快速应急响应。</p>
                    </div>
                </div>
                <div class="box_item item_2">
                    <div class="item-1_text">
                        <h1>服务</h1>
                        <p>移动APP开发：
                            Android安卓应用、iOS 苹果应用、Pad平板应用、移动应用定制开发、APP应用推广
                            微信开发：
                            微信公众号开发、微信小程序应用、H5手机网站开发、微信应用定制开发、微信推广
                            网站建设：
                            企业/门户网站建设、电子商务网站开发、响应式网页制作、WEB应用定制开发、网站推广
                            应用系统开发：
                            企业内部应用、ERP管理软件、CRM客户管理软件、O2O服务平台开发、企业软件定制开发
                            大数据分析处理解决方案</p>
                    </div>
                </div>
                <div class="box_item item_3">
                    <div class="item-3_box">
                        <img src="../static/images/baidu.jpg" alt="">
                    </div>
                    <div class="item-3_box">
                        <img src="../static/images/360sousuo.jpg" alt="">
                    </div>
                    <div class="item-3_box">
                        <img src="../static/images/aliyun.jpg" alt="">
                    </div>
                    <div class="item-3_box">
                        <img src="../static/images/liantong.jpg" alt="">
                    </div>
                    <div class="item-3_box">
                        <img src="../static/images/lianxiang.jpg" alt="">
                    </div>
                    <div class="item-3_box">
                        <img src="../static/images/xinlangweibo.jpg" alt="">
                    </div>
                    <div class="item-3_box">
                        <img src="../static/images/yinlian.jpg" alt="">
                    </div>
                    <div class="item-3_box">
                        <img src="../static/images/zhifubao.jpg" alt="">
                    </div>
                    <div class="item-3_box">
                        <img src="../static/images/zhubajie.jpg" alt="">
                    </div>
                </div>
            </ul>
        </div>
    </div>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../static/js/about.js"></script>
</html>