<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/app_site.css">
    <link rel="stylesheet" href="../static/css/medic.css">
</head>
<body>
    <div class="nav">
        <div class="nav_context">
            <ul>
                <a href="../index.html"><li class="nav_items ">首页</li></a>
                <a href="./website.html"><li class="nav_items ">网站建设</li></a>
                <a href="./appsite.html"><li class="nav_items nav_active">APP开发</li></a>
                <a href="./case.html"><li class="nav_items">案例</li></a>
                <a href="./about.html"><li class="nav_items">关于</li></a>
            </ul>
        </div>
    </div>
    <div class="banner">
    </div>
    <div class="app_banner2">
        <div class="banner_top">
            
            <div class="top_text">
                <h1>解决方案</h1>
                <p>我们对移动互联网产品有深入的研究和多年的
                    手机APP开发经验，为您提供个性化的APP定制开发和微信开发服务：安卓APP(Android APP)、苹果APP(iOS APP)、HTML5、微信公众号开发、微信小程序开发以及APP运营维护。
                </p>
                <img src="../static/images/app_item2.png" alt="">
            </div>
        </div>
        <div class="app_banner_content">
            
        </div>
    </div>
    <div class="banner3">
        <div class="banner3_top">
            <h1>手机系统</h1>
        </div>
        <div class="banner3_content">
            <ul>
                <li>
                    <div class="content_items">
                        <div class="items_text">
                            <p>Android系统手机厂商较多，大众用户较多，近年来高端用户量不断增长；</p>
                        </div>
                            
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <div class="items_text">
                            <p>手机厂商封装的Android系统版本可能不同，安卓APP研发过程中我们会兼容多个版本安卓系统；</p>
                        </div>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <div class="items_text">
                            <p>安卓手机机型较多，屏幕尺寸和按键不完全统一，应用制作过程中我们会适配多种机型手机；</p>
                        </div>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <div class="items_text">
                            <p>其他终端设备使用安卓系统的较多，例如：手持设备、智能平板设备、智能电视、车载设备等，我们都可以为您定制开发。</p>
                        </div>
                        
                    </div>
                    
                </li>
            </ul>
            <ul>
                <li>
                    <div class="content_items">
                        <div class="items_text">
                            <p>苹果APP只能运行在苹果手机上，以中高端用户为主，是否制作苹果APP将会影响中高端用户的体验，主流手机APP都会开发苹果APP；</p>
                        </div>
                            
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <div class="items_text">
                            <p>iOS是苹果自主研发的操作系统，对APP代码规范性要求较高，我们有多年苹果APP研发经验，可以保证您的手机应用稳定运行；</p>
                        </div>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <div class="items_text">
                            <p>苹果手机与安卓手机操作方式略有不同，我们会根据苹果手机用户使用习惯，为您制作符合用户体验和视觉创意的手机APP；</p>
                        </div>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <div class="items_text">
                            <p>除了苹果手机应用研发，iPad、Mac应用我们都可以为您定制开发。</p>
                        </div>
                        
                    </div>  
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <span>我是底部</span>
    </div>
</body>
</html>