<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/case.css">
    <link rel="stylesheet" href="../static/css/medic.css">
</head>
<body>
    <div class="nav">
        <div class="nav_context">
            <ul>
                <a href="../index.html"><li class="nav_items ">首页</li></a>
                <a href="./website.html"><li class="nav_items">网站建设</li></a>
                <a href="./appsite.html"><li class="nav_items">APP开发</li></a>
                <a href="./case.html"><li class="nav_items nav_active">案例</li></a>
                <a href="./about.html"><li class="nav_items">关于</li></a>
            </ul>
        </div>
    </div>

    <div class="banner">
        <div class="banner_top">
            <h1>案例</h1>
        </div>
        <div class="banner_content">
            <ul>
                <li class="content_item">
                    <a href="javascript:void(0)">
                        <div class="content_items">
                            <img src="../static/images/item_img1.jpg" alt="亲.图片找不到了">
                            <p class="item_none">XXX网站案例</p>
                        </div>
                    </a>
                </li>
                <li class="content_item">
                    <a href="javascript:void(0)">
                        <div class="content_items">
                            <img src="../static/images/item_img2.jpg" alt="亲.图片找不到了">
                            <p class="item_none">XXX网站案例</p>
                        </div>
                    </a>
                </li>
                <li class="content_item">
                    <a href="javascript:void(0)">
                        <div class="content_items">
                            <img src="../static/images/item_img3.jpg" alt="亲.图片找不到了">
                            <p class="item_none">XXX网站案例</p>
                        </div>
                    </a>
                </li>
                <li class="content_item">
                    <a href="javascript:void(0)">
                        <div class="content_items">
                            <img src="../static/images/item_img4.jpg" alt="亲.图片找不到了">
                            <p class="item_none">XXX网站案例</p>
                        </div>
                    </a>
                </li>
                <li class="content_item">
                    <a href="javascript:void(0)">
                        <div class="content_items">
                            <img src="../static/images/item_img5.jpg" alt="亲.图片找不到了">
                            <p class="item_none">XXX网站案例</p>
                        </div>
                    </a>
                </li>
                <li class="content_item">
                    <a href="javascript:void(0)">
                        <div class="content_items">
                            <img src="../static/images/item_img6.jpg" alt="亲.图片找不到了">
                            <p class="item_none">XXX网站案例</p>
                        </div>
                    </a>
                </li>
                <li class="content_item">
                    <a href="javascript:void(0)">
                        <div class="content_items">
                            <img src="../static/images/item_img7.jpg" alt="亲.图片找不到了">
                            <p class="item_none">XXX网站案例</p>
                        </div>
                    </a>
                </li>
                <li class="content_item">
                    <a href="javascript:void(0)">
                        <div class="content_items">
                            <img src="../static/images/item_img8.jpg" alt="亲.图片找不到了">
                            <p class="item_none">XXX网站案例</p>
                        </div>
                    </a>
                </li>
            </ul>
           
        </div> 
        <div class="page">
                <ul>
                    <li class="current">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>
                        <a href="javascript:;">下一页</a>
                    </li>
                </ul>
            </div>
    </div>
    <div class="footer">

    </div>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../static/js/case.js"></script>
<script>
</script>
</html>