<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/website.css">
    <link rel="stylesheet" href="../static/css/medic.css">
</head>
<body>
    <div class="nav">
        <div class="nav_context">
            <ul>
                <a href="../index.html"><li class="nav_items ">首页</li></a>
                <a href="./website.html"><li class="nav_items nav_active">网站建设</li></a>
                <a href="./appsite.html"><li class="nav_items">APP开发</li></a>
                <a href="./case.html"><li class="nav_items">案例</li></a>
                <a href="./about.html"><li class="nav_items">关于</li></a>
            </ul>
        </div>
    </div>
    <div class="banner">
        <div class="banner_text">
            <h1>网站建设</h1>
            <p>
                我们为您提供专业的网站建设解决方案，从UI设计、UE用户体验、IxD交互设计、前端布局排版、后端网站开发、数据库搭建到网站维护，我们都力求做到更好。您只需要提供一个大概的想法或者思路，由我们的专业团队进行融合、设计、创新，为您提供个性化的建设网站服务。
            </p>
        </div>
    </div>
    <div class="banner2">
        <div class="banner_top">
            <h1>解决方案</h1>
        </div>
        <div class="banner_content">
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
            <div class="content_item">
                <a href="javascript:void(0)"><span>企业集团解决方案</span></a>
            </div>
        </div>
    </div>
    <div class="banner3">
        <div class="banner3_top">
            <h1>开发流程</h1>
        </div>
        <div class="banner3_content">
            <ul>
                <li>
                    <div class="content_items">
                        <img src="../static/images/banner3_item1.png" alt="">
                        <div class="items_text">
                            <span>需求分析</span>
                            <p>深度了解您制作网站的需求，提供最佳的方案</p>
                        </div>
                            
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <img src="../static/images/banner3_item2.png" alt="">
                        <div class="items_text">
                            <span>交互设计</span>
                            <p>模拟用户交互场景，最佳用户体验的原型设计</p>
                        </div>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <img src="../static/images/banner3_item3.png" alt="">
                        <div class="items_text">
                            <span>视觉创意</span>
                            <p>元素与色彩的合理搭配，网站制作规范化布局设计</p>
                        </div>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <img src="../static/images/banner4_item4.png" alt="">
                        <div class="items_text">
                            <span>前端制作</span>
                            <p>HTML5/CSS3/JS/Flash开发网站前端动态效果</p>
                        </div>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <img src="../static/images/banner3_item5.png" alt="">
                        <div class="items_text">
                            <span>技术开发</span>
                            <p>后端网站功能开发与数据处理，与前端数据对接</p>
                        </div>
                        
                    </div>
                    
                </li>
                <li>
                    <div class="content_items">
                        <img src="../static/images/banner3_item6.png" alt="">
                        <div class="items_text">
                            <span>测试反馈</span>
                            <p>按照您的网站建设反馈意见进行网站优化</p>
                        </div>
                        
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
    <div class="banner4">
        <div class="banner_nav">
            <h1>服务标准</h1>
        </div>
        <div class="banner4_content">
            <div class="content_items items_1">
                <span>提供专业的网站建设方案</span>
                <p>我们将安排商务人员通过电话或者上门拜访，深入了解您的实际需求，为您定制符合企业要求的网站制作解决方案。</p>
            </div>
            <div class="content_items items_2">
                <span>打造极具创意的视觉效果</span>
                <p>看好才会有人看！ 设计师全程与您进行交流，根据需求设计出不同风格的网站样式供您选择，让您的网站具有视觉冲击效果。</p>
            </div>
            <div class="content_items items_3">
                <span>随时了解网站开发进度</span>
                <p>我们将会为您提供网站功能开发日程表，您可以了解到各项功能将在什么时间完成开发，您也可以随时了解开发网站的进度情况。</p>
            </div>
            <div class="content_items items_4">
                <span>按照网站制作要求及时做出调整</span>
                <p>在网站制作需求对接过程中，您可以随时提出意见或想法，我们将及时修改、优化制作网站的需求表。</p>
            </div>
            <div class="content_items items_5">
                <span>根据您的规划预留拓展</span>
                <p>我们将根据您未来建设网站的规划，在网站开发过程中预留网站功能扩展接口，以方便未来网站升级改造。</p>
            </div>
            <div class="content_items items_6">
                <span>一对一售后服务</span>
                <p>我们将为您安排专业技术人员维护网站，及时进行网站优化，保证网站安全稳定的运行。</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>底部</p>
    </div>
</body>
</html>